<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        <span class="title-small">InsightX</span>
        <span class="title-medium">Real-Time Insights.</span>
        <span class="title-large">Real-World Results.</span>
        <!-- <span class="title-medium">IIoT 4.0 Solutions.</span> -->
      </h1>
      <div class="hero-cta">
        <a routerLink="/login" class="btn btn-primary hero-btn">Get Started</a>
        <!-- <div class="hero-install">
          <code class="hero-code">curl -sSf https://InsightXgo.sh | sh</code>
          <button class="copy-btn" (click)="copyToClipboard('curl -sSf https://InsightXgo.sh | sh')">
            <fa-icon [icon]="faCopy"></fa-icon>
          </button>
        </div> -->
              
        <!-- <div class="mt-8 lg:block relative min-h-[150px]">
          <div class="absolute inset-0 flex items-start transition-all duration-500 ease-in-out mt-8" @fadeInOut>
            <a [href]="currentTestimonialData.link" target="_blank" class="flex items-start gap-6 hover:opacity-90 transition-opacity">
              <div class="w-16 h-16 rounded-full bg-cover bg-center bg-no-repeat flex-shrink-0" [style.background-image]="'url(' + currentTestimonialData.image + ')'"></div>
              <div class="flex flex-col">
                <p class="text-[#67B8C5] text-lg mb-2">{{currentTestimonialData.author}}{{currentTestimonialData.company ? ', ' + currentTestimonialData.company : ''}}</p>
                <p class="text-white text-2xl font-normal">"{{currentTestimonialData.text}}"</p>
              </div>
            </a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="hero-image">
      <div class="schema-visualization" #svgContainer>
        <img src="assets/images/workflow.svg" alt="InsightX Database Schema Visualization" class="hero-svg">
      </div>
    </div>
  </div>

  <div class="trusted-by">
    <h5 class="trusted-by-title">Trusted by engineers at</h5>
    <div class="logo-container">
      <img src="https://ext.same-assets.com/3029193285/4252861238.svg" alt="Company Logo" class="company-logo">
      <img src="https://ext.same-assets.com/3029193285/3394157246.svg" alt="Company Logo" class="company-logo">
      <img src="https://ext.same-assets.com/3029193285/2116589346.svg" alt="Company Logo" class="company-logo">
      <img src="https://ext.same-assets.com/3029193285/1354271685.svg" alt="Company Logo" class="company-logo">
      <img src="https://ext.same-assets.com/3029193285/1443725800.svg" alt="Company Logo" class="company-logo">
      <img src="https://ext.same-assets.com/3029193285/409235749.svg" alt="Company Logo" class="company-logo">
    </div>
  </div>

</section>
