:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// For app layout pages, set fixed height
:host:has(main.app-layout) {
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Apply full height and no scroll only for app layout pages
main.app-layout {
  height: 100%;
  overflow: hidden;
}
